@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');

:root{
  --clr-primary-1000: #010b13;
  --clr-primary-900: #100c08;
  --clr-secondary-500: #6B6A69;
  --clr-secondary-100: #EDB0DD;
  --clr-secondary-0: #fef4ec;
  --img-filter: grayscale(50%);
}

body {
  color: var(--clr-secondary-0);
  background-color: var(--clr-primary-1000);
  overflow-x: hidden;
}

main {
  margin: 1em;
  flex-direction: column;
}

hr {
  width: 100%;
  border: none;
  border-bottom: 2px dashed var(--clr-secondary-100);
}

img {
  object-fit: cover;
  width: 100%;
}

img:not([src^=".svg"], .full-color) {
  filter: var(--img-filter);
}

h2, h2 * {
  font-size: 2rem;
}

* {
  font-size: 1rem;
}

.section-title {
  text-align: center;
}

.select-animation {
  transition: translate 250ms ease-out;
}

.select-animation:is(:focus-within, :hover) {
  translate: 0 -0.5em;
}

.button {
  border: 2px solid var(--clr-primary-1000);
  border-radius: 0.5rem;

  --animation-speed: 250ms;
  color: var(--clr-secondary-100);
  background-color: var(--clr-primary-1000);
  transition: 
    color var(--animation-speed) ease-in-out, 
    background-color var(--animation-speed) ease-in-out;

  font-weight: bold;
  cursor: pointer;
}

.button:is(:focus, :focus-visible, :hover) {
  outline: none;
  color: var(--clr-primary-1000);
  background-color: var(--clr-secondary-100);
}

.section-title {
  text-transform: capitalize;
}

.section-description {
  text-align: justify;
  max-width: min(80vh, 40rem);
}

.highlight {
  --color: var(--clr-secondary-100);
  text-transform: capitalize;
  font-family: "Kenia";
  color: var(--color);
}

@media (min-width: 600px) {
  .section-description {
    text-align: center;
  }
}

.tags {
  --color: var(--clr-secondary-500);
  font-weight: 500;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

/* Project */

.project-section {
  --max-card-size: 25rem;
  --content-spacing: 0.825rem;
  --section-spacing: 1rem;

  display: flex;
  gap: var(--section-spacing);
  flex-wrap: wrap;
  justify-content: center;
}

.project-item {
  color: var(--clr-primary-1000);
  background-color: var(--clr-secondary-100);

  border-radius: 0.5rem;
  overflow: hidden;
  max-width: var(--max-card-size);
}

.project-item .button {
  width: 100%;
}

.project-cover img{
  aspect-ratio: 16 / 9;
}

.project-title {
  font-size: 2em;
}

.project-content {
  display: grid;
  gap: var(--content-spacing);
  padding: var(--content-spacing);
}

/* About me */

.rounded-image {
  --radius: 10rem;

  width: 10rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;

  object-fit: cover;
}

.about-container {
  overflow-x: hidden;
}

.about-article {
  --animation-duration: 1s;
  --animation-offset: 0;

  opacity: 0;
  animation: slide-in var(--animation-duration) ease-out forwards;
  animation-delay: calc(var(--animation-offset) * var(--animation-duration));
}

.about-article .section-description {
  text-align: center;
}

.about-article:nth-child(even) {
  flex-direction: row-reverse;
  translate: 100% 0;
}

.about-article:nth-child(odd) {
  translate: -100% 0;
}

.about-article:nth-child(2){
  --animation-offset: 1;
}

.about-article:nth-child(3){
  --animation-offset: 2;
}

@keyframes slide-in{
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

/* Expperience  */

.xp-article {
  align-self: flex-start;
  position: relative;
}

.xp-article:nth-child(3n) .section-title {
  --color: var(--clr-secondary-100);
  text-transform: capitalize;
  font-family: "Kenia";
  color: var(--color);
}

.xp-article:nth-child(odd)::before,
.xp-article:nth-child(even)::after {
  content: '';
  display: block;
  position: absolute;

  width: 1rem;
  aspect-ratio: 1 / 1;
  background: var(--clr-secondary-100);
  border: 3px solid black;
  border-radius: 50%;

  top: 55%;
  --indicator-spacing: -1.70rem;
}

.xp-article:nth-child(odd)::before {
  left: var(--indicator-spacing);
}

.xp-article:nth-child(even)::after {
  right:  var(--indicator-spacing);
}

.xp-article:nth-child(even) {
  align-self: flex-end;
}

.xp-container {
  height: 100%;

  border-color: var(--clr-secondary-100);
  border-style: solid;
  border-width: 0 5px;
  border-radius: 2rem;

  padding: 1rem;
}
