<nav class="main-navbar focus-grow">
  <a class="logo" href="index.html" alt="retour à l'acceuil">Aaron</a>
  <input class="navbar-checkbox" type="checkbox" name="navbar-checkbox" id="navbar-checkbox" checked>
  <label class="navbar-checkbox-label" for="navbar-checkbox"><span></span></label>
  <ul class="navbar-list">
    <li><a href="projects.html">projets</a></li>
    <li><a href="xp.html">experiences</a></li>
    <li><a href="tools.html">outils</a></li>
  </ul>
  <input id="search-bar" class="search-bar" type="text" name="" value="">
</nav>
