<nav class="main-navbar focus-grow">
  <a class="logo" href="/">Aaron</a>
  <input class="navbar-checkbox" type="checkbox" name="navbar-checkbox" id="navbar-checkbox" checked>
  <label class="navbar-checkbox-label" for="navbar-checkbox"
    aria-hidden="true"><span></span><span class="sr-only">label</span></label>
  <ul class="navbar-list">
    <li><a href="projects">projets</a></li>
    <li><a href="xp">experiences</a></li>
    <li><a href="tools">outils</a></li>
  </ul>
  <label class="sr-only" for="search-bar">Barre de recherche</label>
  <input id="search-bar" class="search-bar" type="text" name="search-bar" placeholder="Search...">
</nav>
