<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Aaron S. Randreth</title>

  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.6/css/jetbrains-mono.min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"/>

  <!-- Enables auto discovery for rss -->
  {% block rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
  {% endblock %}
</head>

<body>
<nav>
  <a id="logo" href="/">
    <i class="bi bi-house-fill"></i></a>
  <div id="search">
    <input type="text" placeholder="Search..."></input>
    <button disabled><i class="bi bi-search-heart-fill"></i></button>
    <ul id="results">
    </ul>
  </div>
</nav>

<main>
  <section class="section">
    {% block content %} {% endblock content %}
  </section>
  <footer>
    <p>Made using <a href="https://www.getzola.org">Zola</a>.<i class="bi bi-balloon-heart-fill"></i></p>
    <p><a href="rss.xml">Subscribe</a> with RSS. <i class="bi bi-rss-fill"></i></p>
  </footer>
</main>

<script src="{{ get_url(path="elasticlunr.min.js") }}"></script>
<script src="{{ get_url(path="search_index.en.js") }}"></script>
<script>
  const searchIndex = elasticlunr.Index.load(window.searchIndex);
  const resultsContainer = document.getElementById('results');

  document.getElementById('search').addEventListener('input', function(e) {
    const results = searchIndex.search(
      e.target.value, 
      {expand: true, bool: "OR"}
    );
   resultsContainer.innerHTML = '';
 
   results.forEach(result => {
     const parentLi = document.createElement('li');
     const link = document.createElement('a');
     link.href = result.ref;
     link.textContent = result.doc.title;
     parentLi.appendChild(link);
     resultsContainer.appendChild(parentLi);
   });
});
</script>

</body>

</html>

